In [2]:
import numpy 
from PIL import Image
from numpy import asarray
import pandas as pd
import cv2 as cv
from skimage import io
from PIL import Image
import matplotlib.pylab as plt
from numpy import array
from sys import getsizeof
import pandas as pd
import numpy as np
import os
import tensorflow as tf
import cv2
from numpy import savetxt
# from tensorflow import keras
# from tensorflow.keras import layers, Dense, Input, InputLayer, Flatten
# from tensorflow.keras.models import Sequential, Model
from  matplotlib import pyplot as plt
import matplotlib.image as mpimg
# %matplotlib inline

In [3]:
# Reading the csv file
df = pd.read_csv("maleDataSet.csv")

# Directory of the images
# Always use forward slash (/) instead of backslash (\) in python
# Use a forward slash at the end of the path otherwise it will give an error of "No such file or directory"
src_path = "G:/python_workspaces/Images To Numpy Array/maleImages/"

In [4]:

files = []
defectedImagesIDs = []
goodImagesIDs = []
folderPathOfImage = "G:/python_workspaces/Images To Numpy Array/maleImages/"
resultantFlattenedNumpyArray = []

# Separating the defected images from the good images ID wise and storing them in two different lists

# WHY WE ARE DOING THIS ? 
# Because we don't have the same shapes of images in our dataset. 
for id in df['id']:
    
    # saving the path of the image in a variable because we have to use it to read the image using `io.imread()` function. 
    # The Path of the Image will be passed as an argument to the `io.imread()` function.
    imagePathVariable = folderPathOfImage + str(id)+'.jpg'
    # print(imagePathVariable)
    
    # Opening the image whose path is stored in the variable `imagePathVariable`
    image = Image.open(imagePathVariable)
    
    # Using numpy.array() function to convert the image to numpy array
    # some shapes of the images are (80, 60, 3) and some are (80, 60)
    numpyArrayImg = numpy.array(image)
    
    a = (numpyArrayImg.shape)
    
    if a == (80, 60, 3):
        goodImagesIDs.append(id)
    
    #     count = count + 1
    #     # print("yes")
    else:
        defectedImagesIDs.append(id)
        # This will delete the row from the dataframe whose id is present in the list `defectedImagesIDs`
        df.drop(df[df['id'] == id].index, inplace = True)
    #     print("NO")

In [5]:
print(len(goodImagesIDs))
print(len(defectedImagesIDs))
print(len(goodImagesIDs) + len(defectedImagesIDs))

24761
299
25060

In [6]:
df.count()
# >> 24761 
# This is the number of good images having uniformed shape i.e (80, 60, 3) in the dataset

id                    24761
gender                24761
masterCategory        24761
subCategory           24761
articleType           24761
baseColour            24761
season                24761
year                  24761
usage                 24761
productDisplayName    24761
dtype: int64

In [9]:
# count = 0
file = open("file1.txt", "w+")

for i in goodImagesIDs:
    
    imagePathVariable = folderPathOfImage + str(i)+'.jpg'
    image = Image.open(imagePathVariable)
    numpyArrayImg = numpy.array(image)
    flattenedNumpyArray = numpyArrayImg.flatten()
    
    for j in range(0, len(flattenedNumpyArray)):
        # Writing the flattened numpy array to a text file
        # you can only write str in a text file
        
        # flattenedNumpyArray[j] we have to access each element of the flattened array because if we don't do that it will write like this [255, 255, ... , 255, 212] 
        # and the elements between the commas will not be shown in the text file and csv file.
        
        content = str(flattenedNumpyArray[j]) + ","
        
        file.write(content)
        
    # "\n" is used to go to the next line in the text file
    # when a single image's flattened numpy array is written to the text file, we need to go to the next line
    file.write("\n")
    resultantFlattenedNumpyArray.append([flattenedNumpyArray])
    files.append(imagePathVariable)
    # count = count + 1
    
# Closing the file is very important otherwise it will give an error of "Permission Denied"
file.close()

In [11]:
# Since File is huge, we will not be able to display it in the console
# WARNING DO NOT RUN THIS COMMENTED CODE. 


# # Displaying the contents of the text file
# file = open("file1.txt", "r")
# content = file.read()

# print("\nContent in file1.txt:\n", content)
# file.close()

In [ ]:
# # Saving the flattened numpy array in a csv file

# dataframe = pd.DataFrame(resultantFlattenedNumpyArray)

In [ ]:
# Created a csv file named "flattenedNumpyImages.csv" and stored the flattened numpy array in it.

# dataframe.to_csv("flattenedNumpyImages.csv", index=False)

In [ ]:
# dataframe.head()

                                                   0
0  [255, 255, 255, 255, 255, 255, 255, 255, 255, ...
1  [255, 255, 255, 255, 255, 255, 255, 255, 255, ...
2  [255, 255, 255, 255, 255, 255, 255, 255, 255, ...
3  [255, 255, 255, 255, 255, 255, 255, 255, 255, ...
4  [255, 255, 255, 255, 255, 255, 255, 255, 255, ...

In [ ]:
# firstRow = dataframe.iloc[0]
# print(firstRow)

0    [255, 255, 255, 255, 255, 255, 255, 255, 255, ...
Name: 0, dtype: object

In [ ]:
# dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24761 entries, 0 to 24760
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       24761 non-null  object
dtypes: object(1)
memory usage: 193.6+ KB

Labelling Of Fashion Dataset according to two classifications. 
1. Topwear or Bottomwear.
2. Casual or Formal.

In [ ]:
# Geting IDs of the images in a list

# idsList = []
# for id in df['id']:
#     idsList.append([id])
#     # print(type(id))
#     # appending the subC

# labels = []

# count = 0
# for i in range(0, len(goodImagesIDs)):
#     # labels.append([df._get_value(i, 'id')])
#     idLabel = df._get_value(i, 'id')
#     articleTypeLabel = df._get_value(i, 'articleType')
#     # usageTypeLabel = df.__get_value(i, 'usage')
#     subCategoryLabel = df._get_value(i, 'subCategory')
#     labels.append([idLabel, articleTypeLabel, subCategoryLabel])
#     # print(idLabel, articleTypeLabel, subCategoryLabel)
#     # print(labels)

# Output of labels
# >> []
    
    # labels.apend()
# print(labels)
# print(len(labels))
# [[15970, 'Shirts', 'Topwear'], 
# [39386, 'Jeans', 'Eyewear'], 
# [21379, 'Track Pants', 'Bottomwear'], 
# [53759, 'Tshirts', 'Topwear'], 
# [1855, 'Tshirts', 'Topwear'], 
# [30805, 'Shirts', 'Topwear'], .... ]]

In [ ]:
# print(len(df['articleType'].value_counts()))
# print("Classes of  articleType Column:", df['articleType'].value_counts())

88
Classes of  articleType Column: Tshirts           5843
Shirts            2920
Casual Shoes      2498
Watches           1624
Sports Shoes      1623
                  ...
Sunscreen            1
Heels                1
Tunics               1
Cushion Covers       1
Tights               1
Name: articleType, Length: 88, dtype: int64

In [ ]:
# # Manually getting the articleType labels
# # formt of iloc is iloc[row, column]
# articleTypeColumnDataframe = df.iloc[:,4:5]

# print(articleTypeColumnDataframe)

        articleType
0            Shirts
1             Jeans
2       Track Pants
3           Tshirts
4           Tshirts
...             ...
25055     Rucksacks
25056       Tshirts
25057       Watches
25058  Casual Shoes
25059     Backpacks

[25060 rows x 1 columns]

In [ ]:
# df.drop(['articleType', ], axis=1, inplace=True)

In [ ]:
# # Manually getting the articleType labels
# # formt of iloc is iloc[row, column]
# articleTypeColumnDataframe = df.iloc[:,4:5]

# print(articleTypeColumnDataframe)

In [ ]:
# df

,id,gender,masterCategory,subCategory,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Eyewear,Blue,Summer,2012,Casual,Peter England Men Party Blue Jeans
2,21379,Men,Apparel,Bottomwear,Black,Fall,2011,Casual,Manchester United Men Solid Black Track Pants
3,53759,Men,Apparel,Topwear,Grey,Summer,2012,Casual,Puma Men Grey T-shirt
4,1855,Men,Apparel,Topwear,Grey,Summer,2011,Casual,Inkfruit Mens Chain Reaction T-shirt
...,...,...,...,...,...,...,...,...,...
25055,4594,Unisex,Accessories,Bags,Red,Winter,2015,Casual,Wildcraft Unisex Red & Grey Rucksack
25056,3745,Unisex,Apparel,Topwear,Yellow,Summer,2011,Casual,Tantra Kid's Cool Yellow Kidswear
25057,59218,Unisex,Accessories,Watches,Black,Winter,2016,Casual,Titan Him & Her Black Watches
25058,24670,Unisex,Footwear,Shoes,White,Fall,2010,Casual,Converse Unisex Floral Print Casual Shoes
25059,7781,Unisex,Accessories,Bags,Blue,Winter,2015,Casual,Wildcraft Unisex Blue Backpack

In [ ]:
# def ndArray_Flattened(folderPathOfImage):
#     files = []
#     resultantFlattenedNumpyArray = []
#     for id in df['id']:
#         # saving the path of the image in a variable because we have to use it to read the image using `io.imread()` function. 
#         # The Path of the Image will be passed as an argument to the `io.imread()` function.
#         imagePathVariable = folderPathOfImage + str(id)+'.jpg'
#         # print(imagePathVariable)
        
#         # Opening the image whose path is stored in the variable `imagePathVariable`
#         image = Image.open(imagePathVariable)
        
#         # Using numpy.array() function to convert the image to numpy array
#         numpyArrayImg = numpy.array(image)
        
#         # flattening the numpy array
#         flattenedNumpyArray = numpyArrayImg.flatten()
        
#         # Resultant flattened numpy array
#         # resultantFlattenedNumpyArray is now  a 2-D array
#         # resultantFlattenedNumpyArray = [ 
#         #   [ flattened array of 1st Image], 
#         #   [flattened array of 2nd Image], .... ]
#         # ] 
#         resultantFlattenedNumpyArray.append([flattenedNumpyArray])
        
#         # We are storing the path of the image in a list so that we can use it later. 
#         files.append(imagePathVariable)
        
#     return (resultantFlattenedNumpyArray)
        
        
        
        

#     # image = io.imread(addressOfImage)
#     # # Using numpy.array() function
#     # np_img = numpy.array(image)